*,
:focus {
  outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hr,
img,
main,
nav,
section,
summary,
svg {
  display: block
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1px
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none
}

a,
a:hover,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
  outline: 0
}

ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}
blockquote {
  padding-left: 15px;
  border-left: 4px solid #eee;
  @include last-p();
  margin-bottom: 20px;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

a img,
fieldset,
hr {
  border: 0
}

mark {
  background: 0 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.table_wrap {
  overflow: auto
}

td {
  vertical-align: middle
}

.trim {
  word-break: break-all!important
}

input[type=text],
input[type=email],
input[type=tel],
input[type=search],
select,
textarea {
  @include transition();
  border-radius: 0;
  -webkit-appearance: none
}

button,
input[type=submit],
input[type=button] {
  @include transition();
  -webkit-appearance: none;
  cursor: pointer;
}

hr {
  clear: both;
  font-size: 0;
  overflow: hidden;
  height: 0
}

.alignleft {
  float: left
}

.alignright {
  float: right
}

img.alignleft {
  margin: 0 30px 10px 0
}

img.alignright {
  margin: 0 0 10px 30px
}

.aligncenter {
  margin-left: auto;
  margin-right: auto
}

img,
svg {
  max-width: 100%;
  height: auto
}