$container-width: 1030px;
$font-color: #333;
$main-color: #69d2e7;
$second-color: #fa6900;
$third-color: #f1f1f1;
$placeholder-color: #333333;
$font-base: 14px;
$font-weight: 400;
$f: "Open Sans"; 