.about-block {
    margin: -100px auto 0;
    padding: 20px 35px;
    max-width: 830px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.about-block__title {
    padding: 15px 0 25px;
    position: relative;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    &:after {
        content: '';
        margin: 10px auto 0;
        background: #d5d5d5;
        max-width: 380px;
        height: 1px;
        display: block;
    }
}

.about-block__text {
    font-size: 22px;
    font-weight: 200;
    @include respond-points(0, 420) {
        font-size: 18px;
        text-align: justify;
    }
}