.about-tools {
    padding: 65px 0 40px;
    display: flex;
    justify-content: space-around;
    @include respond-points(0, 768) {
        flex-direction: column;
    }
}

.about-tools__item {
    text-align: center;
    max-width: 220px;
    @include respond-points(0, 768) {
        margin: 0 auto 20px;
    }
    &:nth-child(2) {
        .about-tools__img {
            background-color: $main-color;
        }  
    } 
}

.about-tools__img {
    margin: auto;
    width: 160px;
    height: 160px;
    background-color: #fff;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
}

.about-tools__txt {
    margin-top: 25px;
    font-size: 24px;
}