.block-info {
    @include respond(768) {
        width: 40%;
    }
    color: #fff;
    p {
        padding-bottom: 25px;
        font-weight: 200;
    }
}
.block-info__title {
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2;
}
.block-info__title_b {
    display: block;
    font-weight: bold;
}