.bottom-article {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.bottom-article__img {
    padding-top: 5px;
    min-width: 110px;
    img {
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    }
}

.bottom-article__title {
    margin-bottom: 10px;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
}


.bottom-article__desc {
    font-size: 14px;
}