.bottom-info {
    @include respond(991) {
        width: 49%;
    }
}

.bottom-info__logo {
    margin-bottom: 30px;
    display: inline-block;
}

.bottom-info__desc {
    font-weight: 200;
    p {
        margin-bottom: 30px;
    }
}