.buttom-social {
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    line-height: 11px;
    width: 150px;
}

.buttom-social__item {
    padding: 5px 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-right: 1px solid #000;
    &:last-child {
        border-right: 0
    }
}

