.carusel-slider {
    padding: rem(50) 0 rem(30);
    .slick-next {
        right: 312px;
        z-index: 99;
        @include transition();
        @include respond-points(0, 992) {
            right: 0;
        };
        &:before {
            content: '';
            background-image: url(../img/icon-arr-right.svg);
            background-repeat: no-repeat;
            display: block;
            width: 29px;
            height: 29px;
        }
    }
    .slick-prev {
        left: 300px;
        z-index: 99;
        @include transition();
        @include respond-points(0, 992) {
            left: 0;
        };
        &:before {
            content: '';
            background-image: url(../img/icon-arr-left.svg);
            background-repeat: no-repeat;
            display: block;
            width: 29px;
            height: 29px;
        }
    }
}
.carusel-slider__item {
    @include respond(768) {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        min-width: 440px;
    }
    padding: 50px 20px 20px;
    background-image: url(../img/bg-web.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // width: 100%;
    min-height: 290px;
    @include transition();

    
}

.carusel-slider__item.slick-active.slick-center {
    position: relative;
    z-index: 99;
    right: auto;
    left: auto;
    opacity: 1;  
}

.carusel-slider__item.slick-active.slick-center + .carusel-slider__item {
    @include respond(768) {
        position: relative;
        right: 160px;
        left: auto;
    }
    opacity: 0.5;
}

.carusel-slider__item.slick-slide {
    @include respond(768) {
        position: relative;
        left: 160px;
        right: auto;
    }
    opacity: 0.5;
}
