.footer {
    padding: rem(25) 0 rem(25);
    background: $main-color;
}

.footer_wrap {
    @include respond-points(0, 768) {
        flex-direction: column;
        text-align: center;
    }
    display: flex;
    justify-content: space-between;
}

.footer-menu__item {
    display: inline-block;
    color: #fff;
    &:after {
        content: '|';
        margin-left: 4px;
    }
    &:last-child {
        &:after {
            content: '';
        }        
    }
}

.copyright {
    color: #fff;
}