.header {
    padding: 35px 0;
    background-color: $main-color;
    border-top: 5px solid $second-color;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
}
.header_fix {
    padding: 15px 0;
    position: fixed;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
    @include transition();
}
.header_wrap {
    display: flex;
    justify-content: space-between;
}