.main-head {
    display: block;
    text-align: center;
    color: #fff;
    line-height: 55px;
    font-size: 30px;
    text-transform: uppercase;
}
.main-head_large {
    font-size: 84px;
    display: block;
    text-align: center;
}