.main-menu {
    position: relative;
}

.main-menu__nav {
    display: none;
    position: absolute;
    background-color: #69d2e7;
    padding: 20px 40px;
    top: 55px;
    right: 0;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3);
}  

.main-menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    &:hover {
        text-decoration: underline;
    }
}

.main-menu__btn {
    margin: 0;
    padding: 10px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    @include transition();
    &:hover {
        opacity: 0.5;
    }
}

.main-menu__line {
    margin-bottom: 7px;
    background: #fff;
    width: 17px;
    height: 1px;
    display: block;
    @include transition();
    &:last-child {
        margin-bottom: 0;
    } 
}

.main-menu__btn_active {
    .main-menu__line {
        &:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
    }
}