.page {
    margin: 0;
    padding: 0;
    color: $font-color;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    @include transition(padding-bottom, .4s, ease-in-out);
}

.page__main {
    margin: 0;
    padding: rem(180) 0 rem(180);
    background: $main-color;
}

.page__about {
    background: $third-color; 
}

.page__carusel {
    padding: rem(45) 0 0;
    background: $second-color; 
}

.page__desc_white {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 200;
}

.page__desc_black {
    text-align: center;
    font-size: 22px;
    color: #000;
    font-weight: 200;
}

.page__persons {
    padding: rem(60) 0 rem(60);
    background: $third-color;
}

.page__info {
    @include respond(768) {
        padding: rem(120) 0 rem(100);
        background: linear-gradient(90deg, #fa6900 50%, #fff 50%);
    }
    padding: rem(50) 0 rem(50);
    background:  #fa6900;
    position: relative;
    z-index: 1;
    &:before {
        @include respond(768) {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url(../img/bg-info.svg) no-repeat;
            background-size: cover;
            background-position: center;
            z-index: -1;
        }
    }

}

.page__bottom {
    padding: rem(75) 0 rem(40);
    background: $third-color;
}

.page__bottom_wrap {
    display: flex;
    justify-content: space-between;
    @include respond-points(0, 991) {
        flex-direction: column;
    }
}

