.persons-slider__item {
    text-align: center;

}

.persons-slider__photo {
    margin: 0 auto 20px;
}

.persons-slider__name {
    font-size: 26px;
    font-weight: bold;
    line-height: 16px;
}

.persons-slider__prof {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 200;
}

.persons-slider__text {
    margin: auto;
    max-width: 700px;
    font-weight: 200;
}