@charset "UTF-8";
*,
:focus {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hr,
img,
main,
nav,
section,
summary,
svg {
  display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1px; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none; }

a,
a:hover,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote {
  padding-left: 15px;
  border-left: 4px solid #eee;
  margin-bottom: 20px; }
  blockquote p:last-child {
    padding-bottom: 0; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

a img,
fieldset,
hr {
  border: 0; }

mark {
  background: 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.table_wrap {
  overflow: auto; }

td {
  vertical-align: middle; }

.trim {
  word-break: break-all !important; }

input[type=text],
input[type=email],
input[type=tel],
input[type=search],
select,
textarea {
  transition: all 0.4s ease-in-out;
  border-radius: 0;
  -webkit-appearance: none; }

button,
input[type=submit],
input[type=button] {
  transition: all 0.4s ease-in-out;
  -webkit-appearance: none;
  cursor: pointer; }

hr {
  clear: both;
  font-size: 0;
  overflow: hidden;
  height: 0; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignleft {
  margin: 0 30px 10px 0; }

img.alignright {
  margin: 0 0 10px 30px; }

.aligncenter {
  margin-left: auto;
  margin-right: auto; }

img,
svg {
  max-width: 100%;
  height: auto; }

html {
  font: 400 14px/1.5714 "Open Sans", sans-serif; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1030px; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrap {
  display: flex;
  justify-content: space-between; }

.link {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out; }
  .link:hover {
    text-decoration: underline; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3); }
    .slick-dots li.slick-active button:before {
      top: -2px;
      left: -2px;
      background: #69d2e7;
      border: 2px solid #fff;
      box-shadow: none; }

.page {
  margin: 0;
  padding: 0;
  color: #333;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  transition: padding-bottom 0.4s ease-in-out; }

.page__main {
  margin: 0;
  padding: 12.85714rem 0 12.85714rem;
  background: #69d2e7; }

.page__about {
  background: #f1f1f1; }

.page__carusel {
  padding: 3.21429rem 0 0;
  background: #fa6900; }

.page__desc_white {
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 200; }

.page__desc_black {
  text-align: center;
  font-size: 22px;
  color: #000;
  font-weight: 200; }

.page__persons {
  padding: 4.28571rem 0 4.28571rem;
  background: #f1f1f1; }

.page__info {
  padding: 3.57143rem 0 3.57143rem;
  background: #fa6900;
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .page__info {
      padding: 8.57143rem 0 7.14286rem;
      background: linear-gradient(90deg, #fa6900 50%, #fff 50%); } }
  @media (min-width: 768px) {
    .page__info:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../img/bg-info.svg) no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1; } }

.page__bottom {
  padding: 5.35714rem 0 2.85714rem;
  background: #f1f1f1; }

.page__bottom_wrap {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 0px) and (max-width: 991px) {
    .page__bottom_wrap {
      flex-direction: column; } }

.header {
  padding: 35px 0;
  background-color: #69d2e7;
  border-top: 5px solid #fa6900;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999; }

.header_fix {
  padding: 15px 0;
  position: fixed;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out; }

.header_wrap {
  display: flex;
  justify-content: space-between; }

.main-menu {
  position: relative; }

.main-menu__nav {
  display: none;
  position: absolute;
  background-color: #69d2e7;
  padding: 20px 40px;
  top: 55px;
  right: 0;
  box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3); }

.main-menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px; }
  .main-menu__link:hover {
    text-decoration: underline; }

.main-menu__btn {
  margin: 0;
  padding: 10px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.4s ease-in-out; }
  .main-menu__btn:hover {
    opacity: 0.5; }

.main-menu__line {
  margin-bottom: 7px;
  background: #fff;
  width: 17px;
  height: 1px;
  display: block;
  transition: all 0.4s ease-in-out; }
  .main-menu__line:last-child {
    margin-bottom: 0; }

.main-menu__btn_active .main-menu__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg); }

.main-menu__btn_active .main-menu__line:nth-child(2) {
  opacity: 0; }

.main-menu__btn_active .main-menu__line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg); }

.main-head {
  display: block;
  text-align: center;
  color: #fff;
  line-height: 55px;
  font-size: 30px;
  text-transform: uppercase; }

.main-head_large {
  font-size: 84px;
  display: block;
  text-align: center; }

.about-block {
  margin: -100px auto 0;
  padding: 20px 35px;
  max-width: 830px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); }

.about-block__title {
  padding: 15px 0 25px;
  position: relative;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase; }
  .about-block__title:after {
    content: '';
    margin: 10px auto 0;
    background: #d5d5d5;
    max-width: 380px;
    height: 1px;
    display: block; }

.about-block__text {
  font-size: 22px;
  font-weight: 200; }
  @media (min-width: 0px) and (max-width: 420px) {
    .about-block__text {
      font-size: 18px;
      text-align: justify; } }

.about-tools {
  padding: 65px 0 40px;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 0px) and (max-width: 768px) {
    .about-tools {
      flex-direction: column; } }

.about-tools__item {
  text-align: center;
  max-width: 220px; }
  @media (min-width: 0px) and (max-width: 768px) {
    .about-tools__item {
      margin: 0 auto 20px; } }
  .about-tools__item:nth-child(2) .about-tools__img {
    background-color: #69d2e7; }

.about-tools__img {
  margin: auto;
  width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center; }

.about-tools__txt {
  margin-top: 25px;
  font-size: 24px; }

.carusel-slider {
  padding: 3.57143rem 0 2.14286rem; }
  .carusel-slider .slick-next {
    right: 312px;
    z-index: 99;
    transition: all 0.4s ease-in-out; }
    @media (min-width: 0px) and (max-width: 992px) {
      .carusel-slider .slick-next {
        right: 0; } }
    .carusel-slider .slick-next:before {
      content: '';
      background-image: url(../img/icon-arr-right.svg);
      background-repeat: no-repeat;
      display: block;
      width: 29px;
      height: 29px; }
  .carusel-slider .slick-prev {
    left: 300px;
    z-index: 99;
    transition: all 0.4s ease-in-out; }
    @media (min-width: 0px) and (max-width: 992px) {
      .carusel-slider .slick-prev {
        left: 0; } }
    .carusel-slider .slick-prev:before {
      content: '';
      background-image: url(../img/icon-arr-left.svg);
      background-repeat: no-repeat;
      display: block;
      width: 29px;
      height: 29px; }

.carusel-slider__item {
  padding: 50px 20px 20px;
  background-image: url(../img/bg-web.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 290px;
  transition: all 0.4s ease-in-out; }
  @media (min-width: 768px) {
    .carusel-slider__item {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      min-width: 440px; } }

.carusel-slider__item.slick-active.slick-center {
  position: relative;
  z-index: 99;
  right: auto;
  left: auto;
  opacity: 1; }

.carusel-slider__item.slick-active.slick-center + .carusel-slider__item {
  opacity: 0.5; }
  @media (min-width: 768px) {
    .carusel-slider__item.slick-active.slick-center + .carusel-slider__item {
      position: relative;
      right: 160px;
      left: auto; } }

.carusel-slider__item.slick-slide {
  opacity: 0.5; }
  @media (min-width: 768px) {
    .carusel-slider__item.slick-slide {
      position: relative;
      left: 160px;
      right: auto; } }

.persons-slider__item {
  text-align: center; }

.persons-slider__photo {
  margin: 0 auto 20px; }

.persons-slider__name {
  font-size: 26px;
  font-weight: bold;
  line-height: 16px; }

.persons-slider__prof {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 200; }

.persons-slider__text {
  margin: auto;
  max-width: 700px;
  font-weight: 200; }

.block-info {
  color: #fff; }
  @media (min-width: 768px) {
    .block-info {
      width: 40%; } }
  .block-info p {
    padding-bottom: 25px;
    font-weight: 200; }

.block-info__title {
  padding-bottom: 50px;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.2; }

.block-info__title_b {
  display: block;
  font-weight: bold; }

@media (min-width: 991px) {
  .bottom-info {
    width: 49%; } }

.bottom-info__logo {
  margin-bottom: 30px;
  display: inline-block; }

.bottom-info__desc {
  font-weight: 200; }
  .bottom-info__desc p {
    margin-bottom: 30px; }

.buttom-social {
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  line-height: 11px;
  width: 150px; }

.buttom-social__item {
  padding: 5px 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-right: 1px solid #000; }
  .buttom-social__item:last-child {
    border-right: 0; }

@media (min-width: 991px) {
  .bottom-posts {
    width: 48%; } }

.bottom-posts__title {
  margin-bottom: 50px;
  font-size: 22px; }

.bottom-article {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between; }

.bottom-article__img {
  padding-top: 5px;
  min-width: 110px; }
  .bottom-article__img img {
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.3); }

.bottom-article__title {
  margin-bottom: 10px;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold; }

.bottom-article__desc {
  font-size: 14px; }

.footer {
  padding: 1.78571rem 0 1.78571rem;
  background: #69d2e7; }

.footer_wrap {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 0px) and (max-width: 768px) {
    .footer_wrap {
      flex-direction: column;
      text-align: center; } }

.footer-menu__item {
  display: inline-block;
  color: #fff; }
  .footer-menu__item:after {
    content: '|';
    margin-left: 4px; }
  .footer-menu__item:last-child:after {
    content: ''; }

.copyright {
  color: #fff; }
